# 아이돌 전적검색

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./Idol.db')

In [3]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Idol_Table\
        (id INT NOT NULL, \
        name TEXT, \
        member_no INT NOT NULL, \
        debut TEXT, \
        company TEXT, \
        PRIMARY KEY(id));')

In [4]:
# 튜플 리스트 사용 **************************************
sql = "INSERT INTO Idol_Table(id,name,member_no,debut,company) VALUES(?,?,?,?,?)"
players = [(1, '방탄소년단',7,'2013-06-13','빅히트 엔터'),
           (2, '마마무',4,'2014-06-19','RBW'),
          (3, '우주소녀',13,'2016-02-25','스타쉽 엔터'),
          (4, '블락비',7,'2011-04-15','KQ 엔터'),
          (5, '엑소',9,'2012-04-08','SM 엔터'),
          (6, '트와이스',9,'2015-10-20','JYP 엔터')]
for player in players:
    cur.execute(sql, player)
conn.commit()

In [5]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Song_Table\
        (song_id INT NOT NULL, \
        song TEXT, \
        gid INT NOT NULL, \
        year TEXT, \
        composer TEXT, \
        lyrics TEXT, \
        PRIMARY KEY(song_id));')

In [6]:
sql = "INSERT INTO Song_Table(song_id,song,gid,year,composer,lyrics) VALUES(?,?,?,?,?,?)"
players = [(1, '작은 것들을 위한 시',1,'2019','Pdogg 외','모든 게 궁금해 How’s your day'),
           (2, 'FAKE LOVE',1,'2018','Pdogg 외','널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어'),
          (3, '넌 is 뭔들',2,'2016','김도훈 외','Hey 거기 미소가 예쁜 남자 바로 너'),
          (4, '음오아예 (Um Oh Ah Yeh)',2,'2015','김도훈','oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아'),
          (5, 'HER',4,'2014','지코 외','Jesus 무슨 말이 필요해 모두 널 작품이라고 불러'),
          (6, '으르렁',5,'2013','신혁 외','나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대'),
          (7, 'MAMA',5,'2012','유영진','Careless careless Shoot anonymous anonymous'),
          (8, 'CHEER UP',6,'2016','블랙아이드필승 외','CHEER UP BABY CHEER UP BABY 좀 더 힘을 내'),
          (9, 'TT',6,'2016','블랙아이드필승 외','이런 내 맘 모르고 너무해 너무해'),
          (10, '빨간 맛',11,'2017','Ludwig Lindell 외','빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛')]
for player in players:
    cur.execute(sql, player)
conn.commit()

In [15]:
sql = "SELECT Idol_Table.name, Idol_Table.member_no, Idol_Table.debut, Song_Table.song, Song_Table.year FROM Song_Table INNER JOIN Idol_Table ON Song_Table.gid = Idol_Table.id";
cur.execute(sql)
results = cur.fetchall()
results

[('방탄소년단', 7, '2013-06-13', '작은 것들을 위한 시', '2019'),
 ('방탄소년단', 7, '2013-06-13', 'FAKE LOVE', '2018'),
 ('마마무', 4, '2014-06-19', '넌 is 뭔들', '2016'),
 ('마마무', 4, '2014-06-19', '음오아예 (Um Oh Ah Yeh)', '2015'),
 ('블락비', 7, '2011-04-15', 'HER', '2014'),
 ('엑소', 9, '2012-04-08', '으르렁', '2013'),
 ('엑소', 9, '2012-04-08', 'MAMA', '2012'),
 ('트와이스', 9, '2015-10-20', 'CHEER UP', '2016'),
 ('트와이스', 9, '2015-10-20', 'TT', '2016')]

In [16]:
import pandas as pd

In [23]:
df = pd.DataFrame(results, columns = ['그룹 이름', '구성원 수', '데뷔 일자', '노래 이름', '발표 년도'])
df

   그룹 이름  구성원 수       데뷔 일자                노래 이름 발표 년도
0  방탄소년단      7  2013-06-13          작은 것들을 위한 시  2019
1  방탄소년단      7  2013-06-13            FAKE LOVE  2018
2    마마무      4  2014-06-19              넌 is 뭔들  2016
3    마마무      4  2014-06-19  음오아예 (Um Oh Ah Yeh)  2015
4    블락비      7  2011-04-15                  HER  2014
5     엑소      9  2012-04-08                  으르렁  2013
6     엑소      9  2012-04-08                 MAMA  2012
7   트와이스      9  2015-10-20             CHEER UP  2016
8   트와이스      9  2015-10-20                   TT  2016