# Chapter 02. 파이썬의 기본 문법

In [13]:
# ex 2-1
a = 20 
b = 30
c = a+b
print(c)

50

In [8]:
# ex 2-2
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
my_birth_year = 1997
data2 = 20.3

print(x, Computer, Age, my_score, _name, my_birth_year, data2)

20 Mac 30 70 홍길동 1997 20.3

In [45]:
# ex 2-3
eng score = 90
7font = '굴림'
my-age = 20
percent% = 100
animal# = '사슴'

SyntaxError: invalid syntax (<ipython-input-45-6b7d6910766a>, line 2)

In [9]:
# ex 2-4
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [10]:
# ex 2-5
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [12]:
# ex 2-6
a = 'x'
b = 'I am ok'
c = "안녕하세요"

print(a)
print(b)
print(c)
print(type(c))

x
I am ok
안녕하세요
<class 'str'>

In [15]:
# ex 2-7
a = 30             # 0001 1110
print(a)
print(type(a))

b = '30'           # ASCII code (0x30), Human interaction
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [17]:
# ex 2-8
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [22]:
y = '나는 행복합니다.'
print(y[:2])
print(y[3:-1])
start = 3
print(y[start:start+2])

나는
행복합니다
행복

In [37]:
z = '내 강아지 이름은 happy에요.'
print(z[2:5], z[10:15], z[-8:-3])

강아지 happy happy

In [35]:
# ex 2-9
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [48]:
# ex 2-10
a = 10
b = 20

c = a + b * 10 - 5 / 5
print(c)

209.0

In [52]:
# ex 2-11
x = 10 % 3
print(x)
 
y = 7//3
print(y)

1
2

In [54]:
# ex 2-12
x = 2**3
print(x)

y = 10**4
print(y)

8
10000

In [56]:
# ex 2-13
x = 10
x += 20      # x = x + 20 과  동일
print(x)

30

In [38]:
# ex 2-14
x = 3
y = 5
x *= x + y
print(x)

24

In [57]:
# ex 2-15
hello = '안녕' * 5

print(hello)

안녕안녕안녕안녕안녕

In [39]:
# ex 2-16
a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(b)

15

In [40]:
# ex 2-17
name = '홍지수'
greet = name + '님 안녕하세요!'
print(greet)

홍지수님 안녕하세요!

In [41]:
# ex 2-18
eng = 80
result = '영어 점수 : '+ eng + '점'
print(result)

TypeError: can only concatenate str (not "int") to str

In [42]:
result = '영어 점수 : '+ str(eng) + '점'
print(result)

영어 점수 : 80점

In [59]:
# ex 2-19
eng = 80
result = '영어 점수 : ' + str(eng) + '점'
print(result)

영어 점수 : 80점

In [61]:
# ex 2-20
name = '김수영'
a = '나는 %s입니다.' % name
print(a)

나는 김수영입니다.

In [62]:
# ex 2-21
age = 20
a = '나이는 %d살 입니다.' % age
print(a)

나이는 20살 입니다.

In [43]:
# ex 2-22
year = 2020
month = 3
day = 5

a = '%d-%02d-%02d' %(year, month, day)
print(a)

2020-03-05

In [46]:
# ex 2-23
height = 172.5
a = '키는 %.2f입니다.' % height

print(a)

키는 172.50입니다.

In [47]:
a = '키는 %10.2f입니다.' % height

print(a)

키는     172.50입니다.

In [53]:
# ex 2-24
name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [74]:
# 문자열 메소드
x = 'I am happy!'
x.count('am')

1

In [75]:
x.find('happy')

5

In [76]:
x.upper()

'I AM HAPPY!'

In [78]:
x.replace('am', 'was')

'I was happy!'

In [80]:
x.split(' ')

['I', 'am', 'happy!']

In [81]:
x.isspace()

False

In [63]:
# ex 2-25
name = '홍길동'
age = 30
height = 173.7
print(name, age, height)

홍길동 30 173.7

In [64]:
# ex 2-26
x = 10
y = 20

print('x = ' + str(x) + ', y = ' + str(y))

x = 10, y = 20

In [65]:
# ex 2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print('두 과목 점수 : %d, %d' % (score1, score2))
print('합계 : %d, 평균 : %.2f' % (sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [66]:
# ex 2-28
name = '김소원'
id = 'kim'
point = 18000

print('이름 : {}'.format(name))
print('아이디: {}, 마일리지 : {}'.format(id, point))

이름 : 김소원
아이디: kim, 마일리지 : 18000

In [67]:
# ex 2-29
year = 2020
month = 3
day = 5

print(year, month, day, sep='/')

2020/3/5

In [82]:
# sep, end
print('오늘은')
year = 2020
month = 5
day = 29
print(year, month, day)
print('입니다')

오늘은
2020 5 29
입니다

In [84]:
# 오늘은 2020/5/29 입니다
print('오늘은', end = ' ')
print(year, month, day, sep = '/', end = ' ')
print('입니다')

오늘은 2020/5/29 입니다

In [68]:
# ex 2-30
a = '안녕하세요.'
b = '반갑습니다.'

print(a)
print(b)

print('\n\n')

print(a, end='')
print(b)

안녕하세요.
반갑습니다.



안녕하세요.반갑습니다.

In [69]:
# ex 2-31
name = input('이름을 입력하세요 : ')

print('%s님 반갑습니다.' % name)

이름을 입력하세요 : 임해찬
임해찬님 반갑습니다.

In [85]:
# ex 2-32
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

c = a + b

print(c)
print(type(a), type(b), type(c))

첫 번째 숫자를 입력하세요 : 30
두 번째 숫자를 입력하세요 : 20
3020
<class 'str'> <class 'str'> <class 'str'>

In [86]:
# ex 2-33
a = int(input('첫 번째 숫자를 입력하세요 : '))
b = int(input('두 번째 숫자를 입력하세요 : '))

c = a + b

print(c)

첫 번째 숫자를 입력하세요 : 30
두 번째 숫자를 입력하세요 : 20
50

In [72]:
# ex 2-34
inch = float(input('인치(inch)를 입력하세요 : '))

cm = inch * 2.54

print('센티미터 : %.2f' % cm)

인치(inch)를 입력하세요 : 32.8
센티미터 : 83.31

In [89]:
"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일 : 2021.9.20
"""

a = 10     # 변수 a에 10 저장
b = 20     # 변수 b에 20 저장

c = a + b  # 두 수를 더해 변수 c에  저장

# 결과를 출력한다.
print(c)

30